.react-calendar {
    width: 366px; /* 350px + 4px padding on all sides (16px total) = 366px */
    max-width: 100%;
    background: white;
    border: 1px solid #a0a096;
    line-height: 1.125em;
    padding: 4px;
}
.react-calendar--doubleView {
    width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}
.react-calendar button:enabled:hover {
    cursor: pointer;
}
.react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
}
.react-calendar__navigation button {
    min-width: 44px;
    background: none;
}
.react-calendar__navigation button:disabled { /* For disabled top month nav buttons (next to month/year) (<< < > >>) */
    background-color: #ffffff;
    color: #a0a096;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
    color: #000000;
}
.react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
}
.react-calendar__tile {
    max-width: 100%;
    padding: 10px;
    background: none;
    text-align: center;
    line-height: 16px;
    height: 50px;
}
.react-calendar__tile:disabled { /* For disabled dates (min/max dates) */
    background-color: #ffffff;
    color: #a0a096;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus { /* For hovering over a date */
    background-color: #e6e6e6;
    border-radius: 0; /* Set to 25px to get circle dots */
}
.react-calendar__tile--now { /* For default active (today's date) on load */
    background: lightgray;
    border-radius: 25px; /* Set to 25px to get circle dots */
}
.react-calendar__tile--hasActive { /* For the tiles when clicking on the month/year above calendar */
    background: #006edc;
    color: #ffffff;
    border-radius: 0;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #006edc;
    border-radius: 0;
}
.react-calendar__tile--active {
    background: #006edc;
    color: #ffffff;
    border-radius: 25px; /* Set to 25px to get circle dots */
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus { /* For a newly selected date */
    background: #006edc;
    border-radius: 25px; /* Set to 25px to get circle dots */
}
.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
}
